@model RecipeApp.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Name) details
</h2>


<div class="col-md-6" id='ingredientTable'>
    <div  class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ingredients</h3>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Ingredients/_IngredientListDisplay.cshtml", Model.Ingredients)
        </div>
    </div>
</div>
<div class="col-md-6" id='stepsTable'>
    <div  class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Steps to prepare</h3>
        </div>
        <div class="panel-body">
            <p>Blablabla hier komt een Partial</p>
        </div>
    </div>
</div>
<div>
    <hr/>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
