@model IEnumerable<RecipeApp.Models.Ingredient>

<div>
    @foreach (var item in Model) {
        <span>
            @Html.DisplayFor(modelItem => item.Amount)
            &nbsp;
        </span>
        <span asp-for="Unit">
            @Html.DisplayFor(modelItem => item.Unit)
            &nbsp;
        </span>
        <span>
            @Html.DisplayFor(modelItem => item.Name)
        </span>
    }
</div>