@model RecipeApp.ViewModels.IngredientViewModel

@{
    ViewData["Title"] = "Create";
}



<h4>Change Ingredients</h4>
<hr />


@Html.Partial("~/Views/Ingredients/_IngredientListChange.cshtml", Model)

<div>
    @Html.ActionLink("Back to recipe list","Index", "Recipes")
</div>
<div>
    @Html.ActionLink("Add preparation steps","List" ,"PreparationSteps" , new {recipeId = Model.NewIngredient.RecipeId})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
